body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
  }
  
  .search-box {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
  }

  h1 {
    text-align: center;
  }
  
  .info-box {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
  }
  
  .info-box h2 {
    margin-top: 0;
  }
  
  .info-box table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .info-box th, .info-box td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  .infof-box {
    background-color: #daceea;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
  }
  
  .infof-box h2 {
    margin-top: 0;
  }
  
  .infof-box table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .infof-box th, .infof-box td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }